.DS_Store

__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

.venv/
venv/
env/

build/
dist/
*.whl

log/
tmp/
blackbox_server_runtime/
dressage-blackbox-runtime/

.env
.env.*
